test:
  adapter: postgresql
  database: activerecord-postgis-array_test
  username: postgres
  encoding: utf8
  port: 5432
  min_messages: warning
development:
  adapter: postgresql
  database: activerecord-postgis-array_dev
  username: postgres
  encoding: utf8
  port: 5432
  min_messages: warning
